<div class="container">
    <p class="lead mb-3">Welcome <%= name %>     <a href="/posts/add_post" class="btn btn-secondary"> Add Post</a>
          <a href="/" class="btn btn-secondary"> Home Page</a>
         <a href="/users/logout" class="btn btn-secondary">Logout</a>
    </p>
    <% include ./partials/messages %>
            <div class="table-wrapper">
                <% if (posts.length > 0) {%>
                    <table class="table table-hovered">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Post ID</th>
                                <th scope="col">Title</th>
                                <th scope="col">Publish Date</th>
                                <th scope="col">Posted By</th>
                                <th scope="col">FaceBook Views</th>
                                <th scope="col">Google Views</th>
                                <th scope="col">Other Sites Views</th>
                                <th scope="col">Total Page Views</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% posts.forEach((posts, index) => { %>
                                <tr>
                                    <th scope="row"><%= index+1 %></th>
                                    <td><%= posts.title %></td>
                                    <td><%= posts.date_y %></td>
                                    <td><%= posts.user_name %></td>
                                    <td><%= posts.facebook_views %></td>
                                    <td><%= posts.google_views%></td>
                                    <td><%= posts.other_views%></td>
                                    <td><%= posts.total_views%></td>
                                    <td>
                                        <a href="/edit_post/<%= posts.post_id %>"  rel="noopener" class="btn btn-sm btn-success">Edit</a>
                                        <a href="/delete_post/<%= posts.post_id %>" rel="noopener" class="btn btn-sm btn-success">Delete</a>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                <% } else { %>
                    <p class="text-center">There is No Posts Published</p>
                <% } %>
            </div>
        </div>
    